body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
}

.wrapper {
    margin: auto;
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(1, 1fr);
    grid-template-rows: auto;
}

.wrapper h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    text-align: center;
}

.login-box {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
    grid-gap: 10px;
}

.username {
    grid-area: 1 / 1 / 2 / span 2;
}

.password {
    grid-area: 2 / 1 / 3 / span 2;
}