.student {
    clear: both;
    display: inline-block;
    border: #0f0f0f solid 1px;
    background-color: #2aabd2;
 }

.img-student {
    padding-top: 10px;
    padding-bottom: 10px;
}

.student > img {
    display: inline-block;
    float: left;
}

.student > h2 {
    display: inline-block;
    float: left;
    padding-left: 5px;
    padding-top: 10px;
}

.search-box {
    margin-bottom: 5px;
    background-color: #2b542c;
}

.logo {
    text-align: center;
}