<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="css/bootstrap-4.1.0-dist/css/bootstrap.css">
        <link rel="stylesheet" href="css/admin.css">
    </head>
    <body ng-app="App" ng-controller="testController">
        <div class="wrapper">
            <h1>
                CRUD APP
            </h1>
            <div class="main">
                    <div class="search">
                        <input class="form-control" type="text" ng-model="searchStudent" placeholder="Search for a certain student">
                    </div>
                    <table class="table table-hover table-dark d-flex">
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                            <th scope="col">Email</th>
                            <th scope="col">JMBG</th>
                            <th scope="col">Fullname</th>
                            <th scope="col">Index</th>
                            <th scope="col">Address</th>
                            <th scope="col">Option</th>
                        </tr>
                        <tr ng-repeat="student in list | filter: searchStudent">
                            <input type="hidden" ng-value="student.student_id" id="student_id" ng-model="student.student_id">
                            <td><input class="form-control" type="text" ng-value="student.username" id="username" ng-model="student.username"></td>
                            <td><input class="form-control" type="text" ng-value="student.password" id="password" ng-model="student.password" ></td>
                            <td><input class="form-control" type="text" ng-value="student.email" id="email" ng-model="student.email"></td>
                            <td><input class="form-control" type="text" ng-value="student.jmbg" id="jmbg" ng-model="student.jmbg"></td>
                            <td><input class="form-control" type="text" ng-value="student.fullname" id="fullname" ng-model="student.fullname"></td>
                            <td><input class="form-control" type="text" ng-value="student.index" id="index" ng-model="student.index"></td>
                            <td><input class="form-control" type="text" ng-value="student.address" id="address" ng-model="student.address"></td>
                            <td class="d-inline-flex" style="margin-top: -1px;"><button class="btn btn-primary" ng-click="updateStudent(student.student_id, student.username, student.password, student.email, student.jmbg, student.fullname, student.index, student.address)">Update</button><button class="btn btn-primary" ng-click="deleteStudent(student.student_id)">Delete</button></td>
                        </tr>
                    </table>
            </div>
            <div class="create">
                <table class="table table-hover table-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col">Email</th>
                        <th scope="col">JMBG</th>
                        <th scope="col">Fullname</th>
                        <th scope="col">Index</th>
                        <th scope="col">Address</th>
                        <th scope="col">Option</th>
                    </tr>
                    <tr>
                        <td><input class="form-control" type="text" id="username_create"></td>
                        <td><input class="form-control" type="text" id="password_create"></td>
                        <td><input class="form-control" type="text" id="email_create"></td>
                        <td><input class="form-control" type="text" id="jmbg_create"></td>
                        <td><input class="form-control" type="text" id="fullname_create"></td>
                        <td><input class="form-control" type="text" id="index_create"></td>
                        <td><input class="form-control" type="text" id="address_create"></td>
                        <td><button class="btn btn-primary" ng-click="createStudent()">CREATE</button></td>
                    </tr>
                </table>
            </div>
            <button class="btn btn-primary" type="submit" ng-click="options()">Get Options</button>
        </div>
        <script src="js/angular.js"></script>
        <script src="js/jquery-3.3.1.js"></script>
        <script src="js/panel.js"></script>
    </body>
</html>
