<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>CRUD</title>
</head>
<body ng-app="App" ng-controller="testController">
    <div class="container">
        <p class="login-heading">
            CRUD APPLICATION
        </p>
        <div class="login-box">
            <input class="username" id="username" type="text" name="username" placeholder="Username">
            <input class="password" id="password" type="password" name="password" placeholder="Password">
            <button class="login" name="btn-login" ng-click="login()">
                Login
            </button>
            <button  class="sign-up" name="btn-signup">
                Sign up
            </button>
        </div>
        <p class="login-footer">
            Simple crud application for students
        </p>
    </div>
    <script src="js/angular.js"></script>
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/index.js"></script>
</body>
</html>