<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap-4.1.0-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>CRUD</title>
</head>
<body ng-app="App" ng-controller="testController">
    <div class="wrapper">
        <h1 class="login-heading">
            CRUD APPLICATION
        </h1>
        <div class="login-box">
            <input class="username form-control" id="username" type="text" name="username" placeholder="Username">
            <input class="password form-control" id="password" type="password" name="password" placeholder="Password">
            <button class="login btn btn-primary" name="btn-login" ng-click="login()">
                Login
            </button>
            <button  class="sign-up btn btn-primary" name="btn-signup">
                Sign up
            </button>
        </div>
    </div>
    <script src="js/angular.js"></script>
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/index.js"></script>
</body>
</html>