<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/registration.css">
    <title>Registration</title>
</head>
<body ng-app="App" ng-controller="testController">
    <div class="container">
        <p class="heading">Enter your data in fitting boxes</p>
        <form class="signup">
            <input class="username" type="text" ng-model="username" placeholder="Username">
            <input class="password" type="password" ng-model="password" placeholder="Password">
            <input class="email" type="email" ng-model="email" placeholder="Email in format example@crud.rs">
            <input class="jmbg" type="text" ng-model="jmbg" placeholder="JMBG">
            <input class="fullname" type="text" ng-model="fullname" placeholder="Full name">
            <input class="index" type="text" ng-model="index" placeholder="Index">
            <button class="btn-signup" type="submit" name="signup" ng-click="signup()">Submit</button>
        </form>
    </div>
    <script src="js/angular.js"></script>
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/registration.js"></script>
</body>
</html>