<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body ng-controller="testController" ng-app="App">
<!--/*@thymesVar id="student" type="model.Student"*/-->
<form th:each="student : ${lista}">
    <input type="text" id="korisnicko_ime" th:value="${lista[0].korisnicko_ime}" placeholder="korisnicko ime" />
    <input type="password" id="lozinka" th:value="${lista[0].lozinka}" placeholder="lozinka"/>
    <input type="text" id="ime" th:value="${lista[0].ime}" placeholder="ime"/>
    <input type="text" id="prezime" th:value="${lista[0].prezime}" placeholder="prezime"/>
    <input type="text" id="indeks" th:value="${lista[0].indeks}" placeholder="indeks"/>
    <input type="submit" ng-click="update()"/>
</form>
<script type="text/javascript" th:src="@{css/angular-1.6.6/angular.js}"></script>
<script type="text/javascript" th:href="@{css/angular-1.6.6/angular.min.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" th:src="@{js/registration.js}"></script>
</body>
</html>