<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
<!--/*@thymesVar id="student" type="model.Student"*/-->
<form th:action="@{create/createStudent}" th:method="put" th:each="student:${lista}">
    <input type="text" th:name="korisnicko_ime" th:value="${student.korisnicko_ime}"  placeholder="korisnicko ime" />
    <input type="password" th:name="lozinka" th:value="${student.lozinka}" placeholder="lozinka"/>
    <input type="text" th:name="ime" th:value="${student.ime}" placeholder="ime"/>
    <input type="text" th:name="prezime" th:value="${student.prezime}" placeholder="prezime"/>
    <input type="text" th:name="indeks" th:value="${student.indeks}" placeholder="indeks"/>
    <input type="submit"/>
</form>
</body>
</html>